<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickUsbBulkStreamLoopBackCs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickUsbBulkStreamLoopBackCs.Properties.Settings>
            <setting name="NumBuffers" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="NumThreads" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Concurrency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserAllocBuffers" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickUsbBulkStreamLoopBackCs.Properties.Settings>
    </userSettings>
</configuration>