<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="QuickUsbDiagCs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <QuickUsbDiagCs.Properties.Settings>
            <setting name="FpgaFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandReadAddress" serializeAs="String">
                <value>0x00</value>
            </setting>
            <setting name="CommandReadBytes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CommandWriteAddress" serializeAs="String">
                <value>0x00</value>
            </setting>
            <setting name="CommandWriteBytes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CommandWriteData" serializeAs="String">
                <value>0x00 0x01 0x02 0x03 0x04 0x05 0x06 0x07</value>
            </setting>
            <setting name="DataReadBytes" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="DataReadFilePath" serializeAs="String">
                <value>data_read.bin</value>
            </setting>
            <setting name="DataReadStartAddress" serializeAs="String">
                <value>0x0000</value>
            </setting>
            <setting name="DataWriteBytes" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="DataWriteEntireFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataWriteFilePath" serializeAs="String">
                <value>data_write.bin</value>
            </setting>
            <setting name="DataWriteStartAddress" serializeAs="String">
                <value>0x0000</value>
            </setting>
            <setting name="RS232WriteData" serializeAs="String">
                <value>0x00 0x01</value>
            </setting>
            <setting name="SpiReadBytes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SpiWriteData" serializeAs="String">
                <value>0x00 0x01</value>
            </setting>
            <setting name="I2cReadAddress" serializeAs="String">
                <value>0x60</value>
            </setting>
            <setting name="I2cReadBytes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="I2cWriteAddress" serializeAs="String">
                <value>0x60</value>
            </setting>
            <setting name="I2cWriteData" serializeAs="String">
                <value>0x00 0x01</value>
            </setting>
            <setting name="SelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EpcsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RepeatInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DataStreamReadFilePath" serializeAs="String">
                <value>streaming_read.bin</value>
            </setting>
            <setting name="DataStreamWriteFilePath" serializeAs="String">
                <value>streaming_write.bin</value>
            </setting>
            <setting name="StreamBytes" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="StreamNumBuffers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="StreamNumThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StreamThreadConcurrency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StreamMaxBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="StreamReadMemFileSize" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="StreamWriteMemFileSize" serializeAs="String">
                <value>16777216</value>
            </setting>
            <setting name="DataOutOfOrder" serializeAs="String">
                <value>False</value>
            </setting>
        </QuickUsbDiagCs.Properties.Settings>
    </userSettings>
</configuration>
